{% extends 'base.html'%}
{% block content %}
    <div class="jumbotron">
        <form action = "http://127.0.0.1:5000/uploader" method = "POST" enctype = "multipart/form-data">
            <div class="form-row">
                <div class="col-md-8">
                    <input type = "file" name = "file"  class="form-control"/>
                </div>
                <div class="col-md-4">
                    <input type = "submit" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
    <hr>
{% endblock %}


